.searchSection{
	position: relative;
	width: 100%;
	height: 673px;
	background-image: url(../../assets/quad.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

.transparentBlue{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(53, 53, 83, 0.56);
}

.searchSection h1{
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
	font-size: 64px;
	color: white;
}

.searchSection h3{
	width: 100%;
	position: absolute;
	top: 49%;
	text-align: center;
	font-size: 24px;
	color: white;
}

.Home form{
	width: 50%;
	height: 80px;
	position: relative;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Home input{
	width: 100%;
	height: 100%;
	padding: 8px;
	border: none;
	border-radius: 10px;
	text-align: center;
	font-size: 48px;
	color: gray;
}

.Home input:focus{
	outline-width: 0;
}

//Get's rid of ellipses when text field is focused
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */