$blue: #13294b;

.Home{
	width: 100%;
	height: 100%;
	background-image: url(../../assets/quad.jpg);
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.transparentBlue{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(19, 41, 75, 0.6);
}

.Home h1{
	width: 100%;
	margin: 0 !important;
	position: absolute;
	top: 35%;
	text-align: center;
	font-size: 64px;
	color: white;
}

.Home h3{
	width: 100%;
	position: absolute;
	top: 45%;
	text-align: center;
	font-size: 24px;
	color: white;
}

.Home form{
	width: 50%;
	height: 80px;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.Home input{
	width: 100%;
	height: 100%;
	padding: 8px;
	border: none;
	border-radius: 10px;
	text-align: center;
	font-size: 48px;
	color: $blue;
}

.Home input:focus{
	outline-width: 0;
}

.fullBody {
	height: 100%;
	width: 100%;
}

//Get's rid of ellipses when text field is focused
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */