html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

.Router{
    height: 100%;
    margin: 0;
    padding: 0;
}

#app > .wrapper{
    height: 100%;
}

body{
	overflow-x: auto;
	min-width: 900px;
	background-color: rgb(19, 41, 75);
}