.Review{
	width: 100%;
	height: 100%;
	position: relative;
}
.Review .wrapper{
	width: 50%;
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.Review .titles{
	text-align: center;
	color: white;
	border-bottom: solid 2px white;
}

.Review .titles h1{
	margin: 0 0 8px 0;
	font-size: 48px;
}

.Review .titles h3{
	margin: 0 0 4px 0;
}
.Review .Rating{
	position: relative;
}
.Review .Before{
	position: relative;
}
.Review .Comment{
	position: relative;
}
.Review .Stars{
	position: relative;
//	margin: auto;
	left: 50%;
	transform: translateX(-9.5%);
}
.Review h3, .Review h1{
	color: white;
	text-align: center;
}
.Review .Comment{
//	text-align: center;
//	left: 50%;
//	transform: translateX(-25%);
//	width: 50%;
//	position: relative;
}
.Review .textbox{
	height: 50px;
	width: 200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.boxform{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.Review .subbutton{
	position: absolute;
	bottom: 0px;
}
.Classheader{
	font-size: 62px;
}

